body {
  width: 100%;
	height: 100%;
  background: linear-gradient(270deg, #f05757, #e5e069, #85e56d, #76e3ca);
  background-size: 800% 800%;
  animation: Gradient 30s ease infinite;
}
.users {
  position: relative;
  left: 20%;
  background: #fffff2;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 17px 17px;
  padding: 20px;
}
